{% extends 'base.html' %} {% load staticfiles %} {% block css %}
<!-- Base Design -->
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<!-- No More Tables -->
<link href="{% static 'css/no-more-tables.css' %}" rel="stylesheet"> {% endblock %} {% block content %}
<div class="panel-heading">Llista de comandes</div>
<div class="panel-body">
    {% if comandes %}
    <div class="table-responsive">
        {% for comanda in comandes reversed %}
        <table id="no-more-tables" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nº comanda</th>
                    <th>Data</th>
                    <th>Estat</th>
                    <th>Detall</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Nº Com.">{{comanda.comanda_id}}</td>
                    <td data-title="Data">{{comanda.data}}</td>
                    <td data-title="Estat">{{comanda.get_estat_display}}</td>
                    <td data-title="Detall">
                        <div class="btn-group">
                            <a class="btn btn-primary" role="button" href="{% url 'carts:detallComanda' comanda.comanda_id %}">
                                <span class="glyphicon glyphicon-zoom-in"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% else %}
    <p>No hi ha cap comanda realitzada.</p>
    {% endif %}
</div>
{% endblock %}